@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Liber';
  src: url('/fonts/liber.woff2') format('woff2');
  font-display: swap;
}

/* Styles personnalisés */
body {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

@layer components {
  .space-x-3 > * + * {
    margin-left: 0.75rem;
  }
  
  .space-y-1 > * + * {
    margin-top: 0.25rem;
  }
  
  .space-y-2 > * + * {
    margin-top: 0.5rem;
  }
  
  .space-x-1 > * + * {
    margin-left: 0.25rem;
  }
}